<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <h4 class="header">LUXUZ HOTEL ROOM BOOKING</h4>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>


        <ion-card style="background:white; color: black">
            <ion-list>
                <ion-card-header>
                    <h4 class="searchTitle">Search Results</h4>
                </ion-card-header>
            </ion-list>
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        Room Type: {{room_type | uppercase}}
                    </ion-col>

                    <ion-col width-10>
                        <ion-icon name="md-contacts"></ion-icon>
                        Max Guests: {{max_guests}}


                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

    </ion-list>

    <ion-list>
        <ion-label style="background: white">Rooms : {{count}} Free</ion-label>
        <ion-item *ngFor="let room of roomsearch">

            <ion-card>
                <ion-card-header>
                    <ion-row>
                        <ion-col>
                            <h4> NO_: {{room.room.details.room_number}}</h4>
                        </ion-col>

                        <ion-col>
                            <h4>TYPE: {{room.room.details.class}}</h4>
                        </ion-col>

                        <ion-col>
                            <h4>GUESTS: {{room.room.details.max_guests}}</h4>
                        </ion-col>

                        <ion-col>
                            <button ion-button color="secondary">View Room</button>
                        </ion-col>

                    </ion-row>

                </ion-card-header>
                <ion-card-content *ngIf="room.room.details.isActive">
                    <button ion-button color="danger">Booked</button>
                </ion-card-content>
                <ion-card-content *ngIf="room.room.details.isActive === false">
                    <button ion-button primary>Book Now</button>
                </ion-card-content>
            </ion-card>

        </ion-item>
    </ion-list>

</ion-content>

<ion-footer color="primary">

    <h6>Designed by newtorn moses</h6>
</ion-footer>